body {
  margin:0; padding:0;
  font-family:"Helvetica", arial, sans-serif;
}
#map {
  position:absolute;
  width:67%;
  height:100%;
}

.sidebar {
	height:100%;
	width:33%;
	background-color:#fff;
	position:fixed!important;
	z-index:1;
	right:0;
	overflow:auto
}
