---
---
html, body {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin:0;
  padding:0;
}

html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: "Lato", sans-serif;
  color: {{site.accent_color}};
}

h3 {
  margin-bottom: .2rem;
}

h4 {
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: .2em;
}

h1.post-title {
  font-size: 1.2em;
  line-height: .5;
  letter-spacing: -.025rem;
  position: relative;
  margin-bottom: .1em;
  margin-top: .1em;
  font-family: "Lato", sans-serif;
  position: relative;
  -webkit-margin-before: .1em;
  -webkit-margin-after: -.6em;
}

h1.page-title {
  font-size: 2em;
  line-height: 1.4em;
}

h1.home-title {
  text-align: center;
  font-size: 2em;
  line-height: 1.4em;
}

a {
  color: rgba(31, 106, 173, 1);
  text-decoration: none;
  font-weight: 400;
}

.container {
	width: 100%;
}

#map {
  position:absolute;
  width:60vw;
  height:100vh;
}

/* .page-content {
  z-index: 1 !important;
	padding-bottom: 3em;
} */

.sidebar {
	height:100vh;
	width:40vw;
	background-color:#fff;
	position:fixed!important;
	z-index:1;
	right:0;
	overflow:auto;
}

div#sidebar-content {
  padding: 3em;
}

p.post-header {
  letter-spacing: 1.5px;
  margin-bottom: .5rem;
  font-size: .8em;
  font-style: italic;
  border-width: 0 0 1px;
  border-style: dotted;
  line-height: 17px;
}

p {
	display: block;
	-webkit-margin-before: .5em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	text-align: justify;
  line-height: 22px;
}

p.byline {
	font-size: .9em;
	line-height: 15px;
  margin-top: .3em;
	padding-bottom: .2em;
	font-style: italic;
}

p.citation {
  list-style-type: none;
  text-indent: -1rem;
  font-size: .9em;
  padding-left: 20px;
  font-weight: 300;
  text-align: left;
}

p.image img, img.home-icon {
  max-height: 400px;
  max-width: 80%;
  display: block;
  margin: auto;
}

img.home-icon {
  height: 100px;
}

li {
  margin-bottom: 8px;
}

ul {
  list-style:none;
  margin-top: .5em;
  padding-left: 8px;
}

.index-button {
  background-color: white;
  color: black;
  font-size: 14px;
  border: .5px solid rgba(96, 74, 120, 1);
  padding: 3px 12px 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 200px;
  display: inline-block;
  margin-left: 3px;
  font-variant: small-caps;
}

/* Menus */
.circle-content {
	transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	height: 0;
	width: 0;
	top: 0;
	position: absolute;
	background-color: {{site.accent_color}};
	border-radius: 50%;
	z-index: 18;
	overflow: hidden;
	}

.circle-content a{
	margin-top: 10px;
	color: white;
	text-decoration: none;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 100%;
	display: block;
	text-align: center;
}

.menu-button {
    background-color: {{site.accent_color}};
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    display: inline-block;
}
.menu-button.circle {
	border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: {{site.accent_color}};
    z-index: 1;
    border-radius: 10px;
    right: 0;
    left: auto;
    padding-bottom: 10px;
}

.dropdown-content a {
    color: white;
    font-weight: bold;
    padding: 7px 20px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 10px;
}

#choose {
background-color: {{site.accent_color}};
color: white;
padding: 15px;
font-size: 16px;
border: none;
cursor: pointer;
border-radius: 10px;
position: absolute;
display: inline-block;
}

/* Media */
@media (max-width:768px) {
    html {
        font-size: 14px;
    }
    #map {
        position: absolute;
        left: 0;
        top: 0;
        height: 40vh;
        width: 100vw;
    }
    .sidebar {
        position: absolute;
        left: 0;
        top: 40vh;
        height: 60vh;
        width: 100vw
    }

	  div.wrapper {
		    width: 100vw;
		    height: 40vh;
		    overflow: auto;
	  }

    .sub-menu, .menu-button {
	     right: 0vw;
	  }
	#choose {
	     top:36.9vh;
	  }
}

@media (min-width:768px) and (max-width:1100px) {
    html {
      font-size: 15px;
    }

    #map {
        top: 0;
        height: 100vh;
        width: 50vw;
        left: 0
    }

    .sidebar {
    	width: 50vw;
      position: absolute;
      right: 0;
    }

	  .sub-menu, .menu-button {
	     right: 50vw;
	  }
	#choose {
	bottom: 0;
	}

    div.wrapper {
		   top: 0;
       width: 50vw;
       height: 100vh;
		   overflow: auto;
	  }
}

@media (min-width:1100px) {
    .sidebar, #map {
        position: absolute;
        top: 0;
        height: 100vh;
      }

    #map {
        left: 0;
        width: 55vw;
    }
    .sidebar {
        width: 45vw;
        right: 0;
    }
    .sub-menu, .menu-button {
	      right: 45vw;
	  }
	#choose {
	bottom: 0;
	}
    div.wrapper {
		   left: 0;
       width: 55vw;
       height: 100vh;
		   overflow: auto;
	  }
}

@media (orientation: portrait) {
  html {
      font-size: 15px;
  }
  #map {
      position: absolute;
      left: 0;
      top: 0;
      height: 40vh;
      width: 100vw;
  }
  .sidebar {
      height: 60vh;
      width: 100vw;
      top: 40vh;
  }

  .sub-menu, .menu-button {
	   right: 0vw;
  }
 
  #choose {
	top:36.9vh;
  } 
  
  div.wrapper {
      width: 100vw;
      height: 40vh;
      overflow: auto;
  }
}

/* Liquid attributes */
.caption {
  font-family: 'Barlow', sans-serif;
  line-height: 1.4em;
  font-size: .9em;
  font-style: italic;
  text-align: center;
  color: #5a5a5a;
  padding: 0px 10px;
}

.bibliography {
  list-style-type: none;
  text-indent: -1rem;
  font-size: .9em;
  padding-left: 20px;
  font-weight: 300;
}

/* Leaflet */
img.legend {
	height: 24px;
	padding: 0px;
	vertical-align: middle;
	display: inline-block;
}

img.article-marker {
	height: 42px;
	padding: 0px;
	align:right;
	cursor: pointer;
	display: inline;
	vertical-align: middle;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

label.leaflet-panel-layers-title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
div.leaflet-control-layers-overlays {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: .9em;
}
@media (max-width:768px) {
  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
     font-size: 13px;
  }
}
.leaflet-pane {
z-index: 0;
}
.marker-cluster-small div, .marker-cluster-medium div, .marker-cluster-large div {
	background-color: {{site.accent_color}};
}
.marker-cluster-small, .marker-cluster-medium, .marker-cluster-large {
	background-color: {{site.accent_color}};
	color: white;
}