<iframe 
  width="300" 
  height="170" 
  frameborder="0" 
  scrolling="no" 
  marginheight="0" 
  marginwidth="0" 
  src="https://maps.google.com/maps?q={{page.lat}},{{page.lng}}&z=14&amp;output=embed"
 >
 </iframe>
 {% assign events = page.events | sort: "year" %}
{% for event in events %}
  <div id="{{event.year}}" class="medium-12 main columns">
    <h1>{{event.year}} - {{ event.title }}</h1>
    {% if event.audio_id != null %}
    <hr>
    <audio controls preload="none" style="display:inline; width: 100%; background: #666;">
      <source src="https://siskel.lib.ncsu.edu/SCRC/{{event.audio_id}}/{{event.audio_id}}.ogg" type="audio/ogg">
      <source src="https://siskel.lib.ncsu.edu/SCRC/{{event.audio_id}}/{{event.audio_id}}.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <hr>

    {% endif %}


      {% if event.image_id != null %}
      <p class="image">
        <img src="https://iiif.lib.ncsu.edu/iiif/{{event.image_id}}/full/!400,425/0/default.jpg">
      </p>
      <figcaption class="caption">{{event.excerpt}}</figcaption>
      {% endif %}

      {% if event.iiif_crop != null %}
      <p class="image">
        <img src="{{event.iiif_crop}}">
        <figcaption class="caption">{{event.excerpt}}</figcaption>
      </p>
      {% endif %}
    <p>  {{ event.description }}</p>
  </div>
    {% endfor %}
