    <footer class="footer">
            &copy; {{site.copyright_startdate}}<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, {{site.copyright_name}}. {{site.license}}<br>
            <font size="5.5"><a href="https://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter"></i></a>
                <a href="{{site.github_repo}}"><i class="fa fa-github"></i></a>
                <a href="mailto:{{site.email}}"><i class="fa fa-envelope"></i></a></font>
    </footer>
