<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <!-- Icons -->
    <link rel="shortcut icon" href="/public/favicon.ico?">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Barlow:300|Lato|Lato:300|Montserrat" rel="stylesheet">

    <!-- Leaflet -->
    <script type="text/javascript" src="{{ "/assets/jquery/jquery-1.11.0.min.js" | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="{{ "/assets/leaflet/leaflet.css" | prepend: site.baseurl }}">
    <script type="text/javascript" src="{{ "/assets/leaflet/leaflet.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="{{ "/assets/leaflet-panel-layers/leaflet-panel-layers.min.css" | prepend: site.baseurl }}">
    <script type="text/javascript" src="{{ "/assets/leaflet-panel-layers/leaflet-panel-layers.min.js" | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="{{ "/assets/leaflet-panel-layers/leaflet-panel-layers.src.css" | prepend: site.baseurl }}">
    <script type="text/javascript" src="{{ "/assets/leaflet-panel-layers/leaflet-panel-layers.src.js" | prepend: site.baseurl }}"></script>
  
    <!-- Lightbox -->
	  <link href="assets/lightbox2/lightbox.css" rel="stylesheet">
	  <script src="assets/lightbox2/lightbox.js"></script>

</head>
