
 <button class="menu-button" onclick="toggle()"><i class="fa fa-bars" aria-hidden="true"></i></button>
 		<div class="sub-menu" onclick="toggle()">
 		<div class="menu-links">
 		<a class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
 		<a href="{{site.baseurl}}/">Home</a>
 		{% for page in site.pages %}
 		{% if page.title != 'Home' and page.path != 'home.md' %}
				<a href="{{site.baseurl}}/#{{page.url}}" onclick="onClick('{{page.url}}')" class="menu-link">{{page.title}}</a>
		{% endif %}
		{% endfor %}
		</div>
</div>


<style>



.sub-menu{
	    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		height: 0;
		width: 0;
		right: 50vw;
		top: 0;
		position: absolute;
		background-color: rgb(38, 84, 133);
		border-radius: 50%;
		z-index: 18;
		overflow: hidden;
		
		
	}

.sub-menu a{
	margin-top: 10px;
	color: white;
	text-decoration: none;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 100%;
	display: block;
	text-align: center;
}

.menu-links {
padding-top: 10px;
}
	
.menu-button {
    background-color: darkgray;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    right: 50vw;
    position: absolute;
    display: inline-block;
}
	

</style>
<script>
function toggle() {
console.log($('.sub-menu').css("height"))
  if ($('.sub-menu').css("height") == '0px') {
   console.log($('.sub-menu').css("height"))
   console.log('{{site.menu-height}}')
   $('.sub-menu').css("height", '{{site.menu-height}}')
   $('.sub-menu').css("width", '{{site.menu-width}}')
   $('.sub-menu').css("opacity", '{{site.menu-opacity}}')
   $('.menu-button').css("display", "none")
   
  } else {
  	$('.sub-menu').css("height", '0px')
  	$('.sub-menu').css("width", '0px')
  	$('.sub-menu').css("opacity", '0')
  	$('.menu-button').css("display", "inline-block")
  }
}
</script>