---
layout: page
---

{% if page.status %}
    {% assign status = page.status %}
{% else %}
    {% assign status = 'a-z' %}
{% endif %}

{% for status in site.article-index %}
    <a href="{{site.baseurl}}/#{{ status.url }}" class="index-button">{{ status.status }}</a>
{% endfor %}

<!-- sort a-z -->
   {% if status == 'a-z' %}
    {% assign azsort = site.posts | sort: 'title' %}
     <h3>A-Z</h3>
     <ul>
       {% for post in azsort %}
         <li><a href="{{site.baseurl}}/#{{post.url}}">{{post.title}}</a></li>
       {% endfor %}
      </ul>
  {% elsif status == 'category' %}
    {% assign categories = site.categories | sort %}
     {% for category in categories %}
       {% capture category_name %}{{ category | first }}{% endcapture %}
       <h3>{{ category_name | capitalize }}</h3>
       <ul>
         {% for post in site.categories[category_name] %}
          <li><a href="{{site.baseurl}}/#{{post.url}}">{{post.title}}</a></li>
         {% endfor %}
       </ul>
     {% endfor %}
<!-- sort date -->
   {% elsif status == 'date' %}
         {% for post in site.posts %}
	         {% unless post.next %}
	           <h3>{{ post.date | date: '%Y %b' }}</h3>
	           {% else %}
	             {% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
	             {% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
	           {% if year != nyear %}
	             <h3>{{ post.date | date: '%Y %b' }}</h3>
	           {% endif %}
	         {% endunless %}
             <ul>
	             <li><a href="{{site.baseurl}}/#{{ post.url }}">{{ post.title }}</a></li>
             </ul>
	       {% endfor %}
{% else %}
    {% assign sorted = site.posts | sort: status | group_by: status %}
    {% for item in sorted %}
       <h3>{{ item.name | capitalize }}</h3>
       <ul>
         {% for post in item.items %}
          <li><a href="{{site.baseurl}}/#{{post.url}}">{{post.title}}</a></li>
         {% endfor %}
       </ul>
     {% endfor %}
   {% endif %}
</div>
