---
layout: page
---
{% if page.status %}
    {% assign status = page.status %}
{% else %}
    {% assign status = 'a-z' %}
{% endif %}

{% for status in site.article-index %}
    <a href="{{site.baseurl}}/#{{ status.url }}" class="index-button" onclick='onClick("{{status.url}}");'>{{ status.status }}</a>
{% endfor %}

<div id="post-list" class="index">
   {% if status == 'category' %}
   {% for category in site.categories %}
   {% capture category_name %}{{ category | first }}{% endcapture %}
   <h3>{{ category_name | capitalize }}</h3>
   <ul>
      {% for post in site.categories[category_name] %}
      <li><a href="{{site.baseurl}}/#{{post.url}}" onclick='onClick("{{post.url}}");'>{{post.title}}</a></li>
      {% endfor %}
   </ul>
   {% endfor %}
   {% endif %}

   {% if status == 'a-z' %}
   {% assign azsort = site.posts | sort: 'title' %}
   <ul>
  {% for post in azsort %}
      <li><a href="{{site.baseurl}}/#{{post.url}}" onclick='onClick("{{post.url}}");'>{{post.title}}</a></li>
      {% endfor %}
   </ul>
   {% endif %}

   {% if status == 'quarter' %}
   {% assign postsort = site.posts  | sort: 'date' | reverse | group_by_exp:"post", "post.quarter" %}
   {% for year in postsort %}
   <h3>{{year.name}}</h3>
   <ul>
   {% for post in year.items %}
      <li><a href="{{site.baseurl}}/#{{post.url}}" onclick='onClick("{{post.url}}");'>{{post.title}}</a></li>
      {% endfor %}
   </ul>
   {% endfor %}
   {% endif %}
</div>
