<!DOCTYPE html>
<html>

  {% include head.html %}
  <script>
    window.mapView = window.mapView || {};
    window.mapView.mapData = {{site.mapsettings | jsonify}};
    var icons = []
    {% for image in site.static_files %}
      {% if image.path contains 'assets/leaflet/img' %}
          icons.push('{{ image.path }}');
      {% endif %}
    {% endfor %}
    window.mapView.icons = icons;
    window.baseurl = '{{site.baseurl}}';
    var postdata = []
    var counter = -1;
    counter += 1;
    {% assign collections = site.collections | where_exp: 'item', 'item.label != "posts"' | map: "docs" %}
    {% assign everything = site.posts | concat: site.pages %}
    {% for collection in collections %}

      {% assign everything = everything | concat: collection %}
    {% endfor %}
    {% for post in everything %}
      postdata.push({'lat': {{ post.lat | jsonify}}, 'lng': {{ post.lng | jsonify }}, 'title': {{ post.title | jsonify}}, 'desc': {{post.desc | jsonify}}, 'leafleticon': {{post.leafleticon | jsonify}}, 'order': {{post.order | jsonify}}, 'url': '{{site.url}}{{site.baseurl}}{{post.url}}', 'categories': {{post.categories | jsonify}}, 'hash': {{post.url | jsonify}}, 'author': {{post.author | jsonify}}, 'date': '{{post.date | date_to_string}}', 'headertitle': {{post.headertitle | jsonify}}, 'menutitle': {{post.menutitle | jsonify}}, 'html': '{{post.output |strip_newlines | escape}}' })
    {% endfor %}
    window.setView = {{site.mapsettings.setView}};
    window.mapView.postdata = postdata;
    window.menuType = "{{site.menu-type}}";
    window.siteTitle = "{{site.title}}"
    </script>
  <div id="app">
    <mapview></mapview>
  </div>
  <script src="index.js"></script>
  <body>
</body>
</html>