<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.12/release/featherlight.min.css" type="text/css" rel="stylesheet" />
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.12/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

<div class="post">

  <p class="post-header">
  	<span>{{page.collectiontitle}}</span>
  </p>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="byline">{% if page.author %}{{ page.author }} ({{page.quarter}}){% endif %}
    </p>
  </header>
  <article class="post-article">
    {{ page.content }}
  </article>
  
</div>

<script>
var images = document.getElementsByClassName("image")[0];
var links = images.childNodes;
var html = ''
for (var i = 0; i < links.length; i++) {
   	var link = links[i].src;
   	if (link != undefined) {
   	html += "<a href='#' data-featherlight='" + link + "'>" + links[i].outerHTML + "</a>";
   	}
}
images.innerHTML = html;


</script>
