
<div class="post">
  	<p class="post-header">{{page.collectiontitle}}</p>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="byline">{% if page.author %}{{ page.author }} ({{page.quarter}}){% endif %}</p>
    {{ page.content }}
</div>

<script>
var images = document.getElementsByClassName("image");
var caption = document.getElementsByClassName("caption");

for (var i = 0; i < images.length; i++) {
   	var link = images[i].childNodes[0].src;
   	images[i].innerHTML = "<a href='" + link + "' data-lightbox=' ' data-title='" + caption[i].innerHTML  + "'>" + images[i].childNodes[0].outerHTML + "</a>";
}

lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true
 })

var header_height = $( ".header" ).height();
console.log(header_height);
var output_height = header_height + 3;
var margintop = output_height + 'px';
$( ".post-article" ).css('margin-top', margintop);
</script>
