{% if page.status %}
    {% assign status = page.status %}
{% else %}
    {% assign status = 'atoz' %}
{% endif %}

{% for status in site.status %}
    <a href="{{site.baseurl}}/#{{ status.url }}" class="button">{{ status.title }}</a>
{% endfor %}
{{page.status}}
{{page.status}} == 'atoz'
<h1>{{page.title}}</h1>
{% if status == 'category' %}
<div id="posts-list">
{% for category in site.categories %}
  <h2><a name="{{ category | first }}">{{ category | first }}</a></h2>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        <li><a href="{{site.baseurl}}/#{{post.url}}" onclick='onClick("{{post.url}}");'>{{post.title}}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
{% endfor %}
</div>
{% endif %}

{% if status == 'atoz' %}
<div id="posts-list">
{% for post in site.posts %}
<li><a href="{{site.baseurl}}/#{{post.url}}" onclick='onClick("{{post.url}}");'>{{post.title}}</a></li>
{% endfor %}
</div>
{% endif %}

{% if status == 'quarter' %}
{% assign postsort = site.posts | sort: 'date' | reverse %}
<div id="posts-list">
{% for post in postsort %}
<li><a href="{{site.baseurl}}/#{{post.url}}" onclick='onClick("{{post.url}}");'>{{post.title}}</a></li>
{% endfor %}
</div>
{% endif %}

<style>
.post-list {
 height: 70vh;
  overflow: scroll;
  }
</style>
